.cointainer {
    display: grid;
    /*divide em grade*/
    grid-template-columns: 3fr 1fr;
    grid-gap: 3px;
}

body {
    margin: 0;
}

header {
    background-color: #5fc45f;
    height: 60px;
    /*altura*/
    grid-column-start: 1;
    /*dizendo para o header qual coluna vai começar*/
    grid-column-end: 3;
    /*dizendo para o header qual coluna vai terminar*/
    display: flex;
    /*flex-direction: column; caso quisesse manter em coluna*/
    justify-content: space-between;
    /*deixa espaçamento entre elementos da div*/
    /*justify-content: space-around;deixa espaçamento entre elementos da div sem ir até o canto*/
    align-items: center;
}

main {
    background-color: #c45fb7;
    height: 230px;
    /*altura*/
    grid-column-start: 1;
    grid-column-end: 3;
}

aside {
    height: 670px;
    /*altura*/
    grid-column-start: 1;
    grid-column-end: 3;
}

img {
    width: 100%;
    /*largura do cmponente pai main*/
    height: 100%;
    /*largura da imagem*/
    object-fit: cover;
    /*ajuste - cobrir*/
    object-position: center 50%;  /*ajuste da posição da imagem*/
}
.texto{
    background-color: #c7324c;
}